body{
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  background-color: hsl(0, 0%, 17%);
}
#calculator{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 440px;
  height: 505px;
  margin-left: -220px;
  margin-top: -260px;
  background-color: hsl(0, 0%, 30%);
  color: hsl(0, 0%, 70%);
  border: 2px solid hsl(0, 0%, 60%);
  border-radius: 25px;
  padding: 15px;
}
#screen-section{
  height: 30%;
  border-bottom: 2px solid hsl(0, 0%, 40%);
  font-size: 2.5em;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}